aiohttp==3.6.3
asgiref==3.2.10
async-timeout==3.0.1
attrs==20.2.0
chardet==3.0.4
config==0.5.0.post0
discord==1.0.1
discord-ext-menus==1.0.0a26+g84caae8
discord.py==1.5.0
dsdev-utils==1.0.4
idna==2.10
Menus==0.2.0
multidict==4.7.6
psutil==5.7.2
pytz==2020.1
six==1.15.0
sqlparse==0.4.1
yarl==1.5.1
